<h2>Create New Post</h2>

<form action="<%= posts_url %>" method="POST">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

    <label>Title:
      <input type="text" name="post[title]" value="<%= @post.title %>">
    </label>
    <br>
    <br>

    <label>Url:
      <input type="text" name="post[url]" value="<%= @post.url %>">
    </label>
    <br>
    <br>

    <label>Content:
      <textarea name="post[content]"><%= @post.content %></textarea>
    </label>
    <br>
    <br>

    <input type="hidden" name="post[sub_id]" value="<%= params[:sub_id] %>">

    <button>Create</button>
</form>
